body {
  font-family: "Roboto";
  margin: 0;
}
h1 {
  font-family: "Josefin Sans";
  margin: 2px 2px;
}
button {
  display: block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  min-width: 100px;
}
.quiz-set-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
}
.quiz-set-user label {
  font-size: 1.5em;
  flex: 1;
}
.quiz-set-user input {
  width: 50%;
  height: 40px;
  margin-bottom: 45px;
}
.quiz-edit-user {
  color: grey;
  font-size: 0.3em;
  margin-left: 10px;
}
.quiz-edit-user span {
  cursor: pointer;
}
.quiz-header {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  box-shadow: 0 3px 2px -2px grey;
  padding: 0.67em 0.67em;
  height: 1em;
}
.quiz-header-user {
  display: flex;
  align-items: baseline;
}
.quiz-hero {
  display: block;
}
.quiz-hero h1 {
  padding-right: 10px;
}

.quiz-main {
  max-width: 980px;
  margin: 1.875em 1em;
}

.quiz-questions {
  list-style-type: none;
  font-size: 2em;
}
.quiz-questions li {
  display: flex;
  align-items: center;
}
.quiz-questions input {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  font-size: 0.5em;
}

@media (min-width: 550px) {
  .quiz-hero {
    display: flex;
    align-items: baseline;
  }
  .quiz-hero button {
    display: block;
  }
}
/*
span {
	font-family: 'Josefin Sans';
} */
